.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.user-component__subtitles {
  margin-top: 8px;
  display: flex;
}
.user-component__Me {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--yellow);
  margin-right: 5px;
}
.user-component__Me span {
  color: white;
  font-size: 13px;
  text-align: center;
}

.user-component__subtitles i {
  margin: 0px 5px;
  background-color: pink;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.user-component__subtitle {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-fix__text {
  display: flex;
}
.user-component__stateMessage__box {
  display: flex;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 3px solid var(--yellow);
  align-items: center;
  justify-content: center;
}

.user-component__stateMessage {
  font-size: 13px;
  color: black;
}
.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}
